* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Phone size */

@media only screen and (min-width: 320px) {
    /* The layout */

.box {
    position: relative;
    margin-top: 13vh;
    margin-left: -1.5vw;
    background-color: #F1EC7C;
    width: 7.8cm;
    height: 9cm;
    border-radius: 0.5cm;
    outline: 0.2cm red solid;
}

.imagePosition {
    position: absolute;
    top: 0vh;
    left: 0vw;
}

.image {
    border-top-left-radius: 0.5cm;
    border-bottom-left-radius: 0.5cm;
    width: 3.5cm;
    height: 9cm;
    cursor: pointer;
}

.layout {
    position: absolute;
    top: 0vh;
    left: 41vw;
}

.layout > .grid {
    padding-bottom: 3vh;
    padding-top: 5vh;
    padding-left: 3vw;
    color: red;
    background-color: transparent;
    font-size: 0.3cm;
    font-family: "Montserrat", sans-serif;
    border-bottom: white dashed 0.1cm;
    width: 4.3cm;
}

/* The list */

.list {
    display: flex;
    flex-direction: row;
}

/* The footer */

.footer {
    width: 8.1cm;
    height: 3.8cm;
    background-color: white;
    border-bottom-left-radius: 0.5cm;
    border-bottom-right-radius: 0.5cm;
    z-index: -1;
    position: absolute;
    margin-top: 53vh;
    margin-left: -7.1vw;
    padding-top: 17.5vh;
    padding-left: 5vw;
}

.footer > .icons:first-child {
    width: 3.5cm;
    height: 1cm;
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    font-size: 0.5cm;
    display: inline;
    text-align: center;
    font-size: 0.7cm;
    line-height: 0.9;
    margin-right: 4vw;
}

.footer > .icons:last-child {
    width: 3.5cm;
    height: 1cm;
    background-color: rgb(255, 0, 0);
    color: hwb(210 93% 3%);
    font-size: 0.5cm;
    display: inline;
    text-align: center;
    font-size: 0.7cm;
    line-height: 0.9;
}

/* The inputs */

.list > .input {
    padding-bottom: 2vh;
    padding-top: 2vh;
    padding-left: 1vw;
    color: red;
    background-color: transparent;
    font-size: 0.3cm;
    font-family: "Montserrat", sans-serif;
    border: none;
    width: 12cm;
    margin-top: -3.6vh;
    margin-bottom: -0.2vh;
}

/* The warning */

.warning {
    width: 10cm;
    height: 4cm;
    background-color: #F1EC7C;
    position: relative;
    top: 18vh;
    left: 1vw;
    border-radius: 0.1cm;
    outline: 0.2cm red solid;
    z-index: 1;
    padding-left: 2vw;
}

.warning > .warningText {
    font-size: 0.6cm;
    font-family: "Montserrat", sans-serif;
    color: red;
    margin-bottom: 3vh;
}

.warning > .yes {
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    cursor: pointer;
    border-radius: 0cm;
    margin-left: 9vw;
    width: 2cm;
}

.warning > .no {
    background-color: rgb(255, 0, 0);
    color: hwb(210 93% 3%);
    cursor: pointer;
    border-radius: 0cm;
    margin-left: 14vw;
    width: 2cm;
}

.warning > .buttons:hover {
    opacity: 0.5;
}
}

/* Tablet size */

@media only screen and (min-width: 768px) {
    /* The layout */

.box {
    position: relative;
    margin-top: 15vh;
    margin-left: -16vw;
    background-color: #F1EC7C;
    width: 19.3cm;
    height: 10cm;
    border-radius: 0.5cm;
    outline: 0.2cm red solid;
}

.imagePosition {
    position: absolute;
    top: 0vh;
    left: 0vw;
}

.image {
    border-top-left-radius: 0.5cm;
    border-bottom-left-radius: 0.5cm;
    width: 8cm;
    height: 10cm;
    cursor: pointer;
}

.layout {
    position: absolute;
    top: 0vh;
    left: 39.8vw;
}

.layout > .grid {
    padding-bottom: 2vh;
    padding-top: 3.5vh;
    padding-left: 1vw;
    color: red;
    background-color: transparent;
    font-size: 0.5cm;
    font-family: "Montserrat", sans-serif;
    border-bottom: white dashed 0.1cm;
    width: 11.2cm;
}

/* The list */

.list {
    display: flex;
    flex-direction: row;
}

/* The footer */

.footer {
    width: 19.6cm;
    height: 4.5cm;
    background-color: white;
    border-bottom-left-radius: 0.5cm;
    border-bottom-right-radius: 0.5cm;
    z-index: -1;
    position: absolute;
    margin-top: 52vh;
    margin-left: -16.5vw;
    padding-top: 10.5vh;
    padding-left: 5vw;
}

.footer > .icons:first-child {
    width: 8cm;
    height: 1.5cm;
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    font-size: 0.5cm;
    display: inline;
    text-align: center;
    font-size: 0.7cm;
    line-height: 0.9;
    margin-right: 7.5vw;
}

.footer > .icons:last-child {
    width: 8cm;
    height: 1.5cm;
    background-color: rgb(255, 0, 0);
    color: hwb(210 93% 3%);
    font-size: 0.5cm;
    display: inline;
    text-align: center;
    font-size: 0.7cm;
    line-height: 0.9;
}

/* The inputs */

.list > .input {
    padding-bottom: 2vh;
    padding-top: 2.5vh;
    padding-left: 1vw;
    color: red;
    background-color: transparent;
    font-size: 0.5cm;
    font-family: "Montserrat", sans-serif;
    border: none;
    width: 12cm;
    margin-top: -1vh;
}

/* The warning */

.warning {
    width: 10cm;
    height: 4cm;
    background-color: #F1EC7C;
    position: relative;
    top: 18vh;
    left: 1vw;
    border-radius: 0.1cm;
    outline: 0.2cm red solid;
    z-index: 1;
    padding-left: 2vw;
}

.warning > .warningText {
    font-size: 0.6cm;
    font-family: "Montserrat", sans-serif;
    color: red;
    margin-bottom: 3vh;
}

.warning > .yes {
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    cursor: pointer;
    border-radius: 0cm;
    margin-left: 2vw;
    width: 5cm;
}

.warning > .no {
    background-color: rgb(255, 0, 0);
    color: hwb(210 93% 3%);
    cursor: pointer;
    border-radius: 0cm;
    margin-left: 6vw;
    width: 5cm;
}

.warning > .buttons:hover {
    opacity: 0.5;
}
}

/* Pc size */

@media only screen and (min-width: 1024px) {
    /* The layout */

.box {
    position: relative;
    margin-top: 10vh;
    margin-left: -20vw;
    background-color: #F1EC7C;
    width: 25cm;
    height: 10cm;
    border-radius: 0.5cm;
    outline: 0.2cm red solid;
}

.imagePosition {
    position: absolute;
    top: 0vh;
    left: 0vw;
}

.image {
    border-top-left-radius: 0.5cm;
    border-bottom-left-radius: 0.5cm;
    width: 10cm;
    height: 10cm;
    cursor: pointer;
}

.layout {
    position: absolute;
    top: 0vh;
    left: 29.8vw;
}

.layout > .grid {
    padding-bottom: 2vh;
    padding-top: 3.5vh;
    padding-left: 1vw;
    color: red;
    background-color: transparent;
    font-size: 0.6cm;
    font-family: "Montserrat", sans-serif;
    border-bottom: white dashed 0.1cm;
    width: 14.9cm;
}

/* The list */

.list {
    display: flex;
    flex-direction: row;
}

/* The footer */

.footer {
    width: 25.3cm;
    height: 3.8cm;
    background-color: white;
    border-bottom-left-radius: 0.5cm;
    border-bottom-right-radius: 0.5cm;
    z-index: -1;
    position: absolute;
    margin-top: 59vh;
    margin-left: -18.6vw;
    padding-top: 9vh;
    padding-left: 5vw;
}

.footer > .icons:first-child {
    width: 10cm;
    height: 1.5cm;
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    font-size: 0.5cm;
    display: inline;
    text-align: center;
    font-size: 0.7cm;
    line-height: 0.9;
    margin-right: 6.2vw;
}

.footer > .icons:last-child {
    width: 10cm;
    height: 1.5cm;
    background-color: rgb(255, 0, 0);
    color: hwb(210 93% 3%);
    font-size: 0.5cm;
    display: inline;
    text-align: center;
    font-size: 0.7cm;
    line-height: 0.9;
}

/* The inputs */

.list > .input {
    padding-bottom: 2vh;
    padding-top: 2.5vh;
    padding-left: 1vw;
    color: red;
    background-color: transparent;
    font-size: 0.6cm;
    font-family: "Montserrat", sans-serif;
    border: none;
    width: 12cm;
}

/* The warning */

.warning {
    width: 10cm;
    height: 4cm;
    background-color: #F1EC7C;
    position: relative;
    top: 18vh;
    left: 1vw;
    border-radius: 0.1cm;
    outline: 0.2cm red solid;
    z-index: 1;
    padding-left: 2vw;
}

.warning > .warningText {
    font-size: 0.6cm;
    font-family: "Montserrat", sans-serif;
    color: red;
    margin-bottom: 3vh;
}

.warning > .yes {
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    cursor: pointer;
    border-radius: 0cm;
    margin-left: 0vw;
    width: 5cm;
}

.warning > .no {
    background-color: rgb(255, 0, 0);
    color: hwb(210 93% 3%);
    cursor: pointer;
    border-radius: 0cm;
    margin-left: 4.5vw;
    width: 5cm;
}

.warning > .buttons:hover {
    opacity: 0.5;
}
}