@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Phone size */

@media only screen and (min-width: 320px) {
    /* The layout */

.item {
        min-width: 6.5cm;
        height: 8cm;
        background-color: white;
        line-height: 2.3;
        font-family: "Montserrat", sans-serif;
        color: red;
        border-radius: 0.3cm;
        outline-offset: 0cm;
        outline-color: red;
        outline-style: solid;
        outline-width: 0.5cm;
        position: relative;
        margin: 15vh -1vw;
}
    
.texts {
        margin-left: 1vw;
}

/* The footer */

.footer {
    min-width: 8cm;
    height: 3.5cm;
    background-color: white;
    border-bottom-left-radius: 0.5cm;
    border-bottom-right-radius: 0.5cm;
    z-index: -1;
    position: absolute;
    margin-top: -15vh;
    margin-left: -6vw;
    padding-top: 8vh;
    padding-left: 2vw;
}

.footer > .icons:first-child {
    width: 3.3cm;
    height: 1.5cm;
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    font-size: 0.5cm;
    display: inline;
    text-align: center;
    font-size: 0.7cm;
    line-height: 0.9;
    margin-right: 4vw;
}

.footer > .icons:last-child {
    width: 3.3cm;
    height: 1.5cm;
    background-color: rgb(255, 0, 0);
    color: hwb(210 93% 3%);
    font-size: 0.5cm;
    display: inline;
    text-align: center;
    font-size: 0.7cm;
    line-height: 0.9;
}

/* The popup */

.popup {
    min-width: 8.2cm;
    height: 15cm;
    background-color: #F1EC7C;
    padding-top: 1vh;
    border-radius: 0.2cm;
    position: relative;
    margin: -80vh -8vw;
    z-index: 1;
    border: red solid 0.1cm;
}

.popup > .closeIcon {
    position: absolute;
    margin-top: -2%;
    margin-left: 93%;
    cursor: pointer;
}

.popup > .layout {
    width: 10cm;
    height: 14cm;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 3vh;
    margin-left: 2vw;
}

.layout > .label {
    color: red;
    font-size: 0.5cm;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
}

.layout > .input {
    width: 7.5cm;
    height: 1.5cm;
    background-color: transparent;
    margin-bottom: 3vh;
    color: red;
    border-bottom: white dashed 0.1cm;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 0.5cm;
}

.layout > .button {
    margin-top: 0vh;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    display: inline;
    height: 1.5cm;
    font-size: 0.7cm;
    width: 5cm;
}

/* The warning */

.warning {
    width: 10cm;
    height: 4cm;
    background-color: #F1EC7C;
    position: relative;
    top: -61vh;
    left: 0vw;
    border-radius: 0.1cm;
    outline: 0.2cm red solid;
    z-index: 1;
    padding-left: 2vw;
}

.warning > .warningText {
    font-size: 0.6cm;
    font-family: "Montserrat", sans-serif;
    color: red;
    margin-bottom: 1vh;
}

.warning > .buttons {
    flex-direction: row;
    margin-right: 0.5vw;
}

.warning > .buttons > .yes {
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    cursor: pointer;
    border-radius: 0cm;
    width: 2.5cm;
    margin-right: 5vw;
}

.warning > .buttons > .no {
    background-color: rgb(255, 0, 0);
    color: hwb(210 93% 3%);
    cursor: pointer;
    border-radius: 0cm;
    width: 2.5cm;
}

.warning > .buttons:hover {
    opacity: 0.5;
}
}

/* Tablet size */

@media only screen and (min-width: 768px) {
    /* The layout */

.item {
        width: 12cm;
        height: 10cm;
        background-color: white;
        line-height: 2.3;
        font-family: "Montserrat", sans-serif;
        color: red;
        border-radius: 0.3cm;
        outline-offset: 0cm;
        outline-color: red;
        outline-style: solid;
        outline-width: 0.5cm;
        position: relative;
        margin: 14vh 1vw;
}
    
.texts {
        margin-left: 1vw;
}

/* The footer */

.footer {
    width: 12.7cm;
    height: 3.5cm;
    background-color: white;
    border-bottom-left-radius: 0.5cm;
    border-bottom-right-radius: 0.5cm;
    z-index: -1;
    position: absolute;
    margin-top: -13vh;
    margin-left: -1vw;
    padding-top: 6vh;
    padding-left: 4vw;
}

.footer > .icons:first-child {
    width: 5cm;
    height: 1.5cm;
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    font-size: 0.5cm;
    display: inline;
    text-align: center;
    font-size: 0.7cm;
    line-height: 0.9;
    margin-right: 5.5vw;
}

.footer > .icons:last-child {
    width: 5cm;
    height: 1.5cm;
    background-color: rgb(255, 0, 0);
    color: hwb(210 93% 3%);
    font-size: 0.5cm;
    display: inline;
    text-align: center;
    font-size: 0.7cm;
    line-height: 0.9;
}

/* The popup */

.popup {
    min-width: 13.5cm;
    height: 15cm;
    background-color: #F1EC7C;
    padding-top: 1vh;
    border-radius: 0.2cm;
    position: relative;
    margin: -75vh -2vw;
    z-index: 1;
    border: red solid 0.1cm;
}

.popup > .closeIcon {
    position: absolute;
    margin-top: 0.1%;
    margin-left: 94%;
    cursor: pointer;
}

.popup > .layout {
    width: 10cm;
    height: 14cm;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 3vh;
    margin-left: 3vw;
}

.layout > .label {
    color: red;
    font-size: 0.5cm;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
}

.layout > .input {
    width: 10cm;
    height: 1.5cm;
    background-color: transparent;
    margin-bottom: 3vh;
    color: red;
    border-bottom: white dashed 0.1cm;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 0.5cm;
}

.layout > .button {
    margin-top: 0vh;
    margin-left: 3vw;
    margin-right: 3vw;
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    display: inline;
    height: 1.5cm;
    font-size: 0.7cm;
}

/* The warning */

.warning {
    width: 10cm;
    height: 4cm;
    background-color: #F1EC7C;
    position: relative;
    top: -55vh;
    left: 1vw;
    border-radius: 0.1cm;
    outline: 0.2cm red solid;
    z-index: 1;
    padding-left: 2vw;
}

.warning > .warningText {
    font-size: 0.6cm;
    font-family: "Montserrat", sans-serif;
    color: red;
    margin-bottom: 3vh;
}

.warning > .buttons {
    flex-direction: row;
}

.warning > .buttons > .yes {
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    cursor: pointer;
    border-radius: 0cm;
    width: 4cm;
}

.warning > .buttons > .no {
    background-color: rgb(255, 0, 0);
    color: hwb(210 93% 3%);
    cursor: pointer;
    border-radius: 0cm;
    margin-left: 30vw;
    margin-top: -10.1vh;
    width: 4cm;
}

.warning > .buttons:hover {
    opacity: 0.5;
}
}

/* Pc size */

@media only screen and (min-width: 1024px) {
    /* The layout */

.item {
        width: 12cm;
        height: 10cm;
        background-color: white;
        line-height: 2.3;
        font-family: "Montserrat", sans-serif;
        color: red;
        border-radius: 0.3cm;
        outline-offset: 0cm;
        outline-color: red;
        outline-style: solid;
        outline-width: 0.5cm;
        position: relative;
        margin: 10vh 0vw;
}
    
.texts {
        margin-left: 1vw;
}

/* The footer */

.footer {
    width: 12.7cm;
    height: 3.5cm;
    background-color: white;
    border-bottom-left-radius: 0.5cm;
    border-bottom-right-radius: 0.5cm;
    z-index: -1;
    position: absolute;
    margin-top: -10vh;
    margin-left: -1vw;
    padding-top: 6vh;
    padding-left: 2vw;
}

.footer > .icons:first-child {
    width: 5cm;
    height: 1.5cm;
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    font-size: 0.5cm;
    display: inline;
    text-align: center;
    font-size: 0.7cm;
    line-height: 0.9;
    margin-right: 4vw;
}

.footer > .icons:last-child {
    width: 5cm;
    height: 1.5cm;
    background-color: rgb(255, 0, 0);
    color: hwb(210 93% 3%);
    font-size: 0.5cm;
    display: inline;
    text-align: center;
    font-size: 0.7cm;
    line-height: 0.9;
}

/* The popup */

.popup {
    min-width: 13.5cm;
    height: 15cm;
    background-color: #F1EC7C;
    padding-top: 1vh;
    border-radius: 0.2cm;
    position: relative;
    margin: -80vh -2vw;
    z-index: 1;
    border: red solid 0.1cm;
}

.popup > .closeIcon {
    position: absolute;
    margin-top: 0.1%;
    margin-left: 94%;
    cursor: pointer;
}

.popup > .layout {
    width: 10cm;
    height: 14cm;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 3vh;
    margin-left: 2vw;
}

.layout > .label {
    color: red;
    font-size: 0.5cm;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
}

.layout > .input {
    width: 10cm;
    height: 1.5cm;
    background-color: transparent;
    margin-bottom: 3vh;
    color: red;
    border-bottom: white dashed 0.1cm;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 0.5cm;
}

.layout > .button {
    margin-top: 0vh;
    margin-left: 3vw;
    margin-right: 3vw;
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    display: inline;
    height: 1.5cm;
    font-size: 0.7cm;
}

/* The warning */

.warning {
    width: 10cm;
    height: 4cm;
    background-color: #F1EC7C;
    position: relative;
    top: -55vh;
    left: 0vw;
    border-radius: 0.1cm;
    outline: 0.2cm red solid;
    z-index: 1;
    padding-left: 2vw;
}

.warning > .warningText {
    font-size: 0.6cm;
    font-family: "Montserrat", sans-serif;
    color: red;
    margin-bottom: 3vh;
}

.warning > .buttons {
    flex-direction: row;
}

.warning > .buttons > .yes {
    background-color: hsl(120, 76%, 49%);
    color: hwb(210 93% 3%);
    cursor: pointer;
    border-radius: 0cm;
    margin-left: 0vw;
    width: 4cm;
}

.warning > .buttons > .no {
    background-color: rgb(255, 0, 0);
    color: hwb(210 93% 3%);
    cursor: pointer;
    border-radius: 0cm;
    margin-left: 17vw;
    margin-top: -11.5vh;
    width: 4cm;
}

.warning > .buttons:hover {
    opacity: 0.5;
}
}